<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="/../stylesheet.css" type="text/css">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <h1 style="font-size: 55px; text-align: center">Velkommen til Nordic Motorhome Rental Administrationssystem</h1>
    <div style="display: flex; align-items: center; justify-content: center; padding-top: 300px">
        <img style="margin-right: 40px" width="400" height="300" src="motorhome-card.jpg" alt="" class="w3-card">
        <img style="margin-right: 40px" src="customer-card.jpg" alt="" class="w3-card">
        <img src="reservation-card.jpg" width="400" height="300" alt="" class="w3-card">
    </div>
</body>
</html>