<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="/../stylesheet.css" type="text/css">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <h1 style="margin-top: 150px; line-height: 100px; font-weight: bold; font-family: Cambria; font-size: 55px; text-align: center">Velkommen til Nordic Motorhome Rental Administrationssystem</h1>
    <div style="display: flex; align-items: center; justify-content: center; padding-top: 175px">
        <div class="container" style="margin-right: 40px">
            <img width="400" height="300" src="motorhome-card.jpg" alt="">
            <a href="/motorhomes/list" class="btn">Autocampere</a>
        </div>
        <div class="container" style="margin-right: 40px">
            <img src="customer-card.jpg" alt="">
            <a href="/customers/list" class="btn">Kunder</a>
        </div>
        <div class="container">
            <img src="reservation-card.jpg" width="400" height="300" alt="">
            <a href="/reservations/list" class="btn">Reservationer</a>
        </div>
    </div>
</body>
</html>