<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="/../stylesheet.css" type="text/css">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div style="display: flex; align-items: center; justify-content: center; padding-top: 400px">
        <img width="400" height="300" src="motorhome-card.jpg" alt="" class="w3-card">
        <img src="customer-card.jpg" alt="" class="w3-card">
    </div>
</body>
</html>