<!--Coded by Michael-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tilføj Type</title>
    <link rel="stylesheet" type="text/css" href="/../stylesheet.css">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<h1>Opret type</h1>
<form action="/types/create" id="form" method="post">
    <table>
        <tr>
            <td><label>Type</label></td>
            <td><input type="text" th:field="*{type.type}"></td>
        </tr>
            <td><label>Sovepladser</label></td>
            <td><input type="number" th:field="*{type.beds}"></td>
            <td th:errors="*{type.beds}" class="error"></td>
        </tr>
    </table>
</form>
<button type="submit" class="btn green-button" form="form" value="Submit">Tilføj type</button>
<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>
</body>
</html>