<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Motorhome</title>
</head>
<body>
<form action="/motorhomes/update" method="post">
    <table>
        <tr>
            <td>Mileage</td>
            <td>
                <input type="text" name="mileage" th:value="${motorhome.mileage}">
            </td>
        </tr>
        <tr>
            <td>Price per day</td>
            <td>
                <input type="text" name="price_per_day" th:value="${motorhome.price_per_day}">
            </td>
        </tr>
        <tr>
            <td>
                <input id="id" name="id" th:value="${motorhome.id}" type="hidden"/>
            </td>
        </tr>
        <tr>
            <td><label>Type</label></td>
            <td><select name="type">
                <option th:each = "type: ${types}" th:text="${type.type}" th:value="${type.type}"></option>
            </select></td>
        </tr>
    </table>
    <input type="submit" value="Save">
</form>
</body>
</html>