<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List over alle autocampere</title>
</head>
<body>
<table id="motorhomeTable" class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Mærke model</th>
        <th>Model</th>
        <th>Kilometertal</th>
        <th>Pris per dag</th>
        <th>Registreringsnummer</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "motorhome: ${motorhomes}">
        <td th:text="${motorhome.id}"/>
        <td th:text="${motorhome.type}"/>
        <td th:text="${motorhome.brand_name}"/>
        <td th:text="${motorhome.model}"/>
        <td th:text="${motorhome.mileage}"/>
        <td th:text="${motorhome.price_per_day}"/>
        <td th:text="${motorhome.registration_number}"/>
        <td>
            <a th:href="@{'/motorhomes/view-one/'+${motorhome.id}}">
                <button>View motorhome</button>
            </a>
        </td>
        <td>
            <a th:href="@{'/motorhomes/edit/'+${motorhome.id}}">
                <button>Edit motorhome</button>
            </a>
        </td>
        <td>
            <a th:href="@{'/motorhomes/delete/'+${motorhome.id}}">
                <button>Delete motorhome</button>
            </a>
        </td>
    </tr>
    </tbody>

</table>

</body>
</html>