<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Redigér reservation</title>
    <link rel="stylesheet" href="/../stylesheet.css" type="text/css">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<form action="/reservations/update" method="post">
    <table>
        <tr>
            <td>Startdato</td>
            <td>
                <input type="datetime-local" step="1" name="start_date" th:value="${reservation.start_date}">
            </td>
        </tr>
        <tr>
            <td>Slutdato</td>
            <td>
                <input type="datetime-local" step="1" name="end_date" th:value="${reservation.end_date}">
            </td>
        </tr>
        <tr>
            <td>Distance til afhentningssted</td>
            <td>
                <input type="number" name="distance_to_pickup" th:value="${reservation.distance_to_pickup}">
            </td>
        </tr>
        <tr>
            <td>
                <input id="id" name="id" th:value="${reservation.id}" type="hidden"/>
            </td>
        </tr>
    </table>
    <input type="submit" value="Gem ændringer">
</form>
<table>
    <tr>
        <form action="/reservations/add-accessory" method="post">
            <td>
                <label>Tilbehør</label></td>
            <td>
                <select name="id">
                    <option th:each = "accessory: ${accessories}" th:text="${accessory.accessory}" th:value="${accessory.id}"></option>
                </select>
            </td>
            <td>
                <input type="submit" value="Tilføj tilbehør">
            </td>
            <input name="id" th:value="${reservation.id}" type="hidden"/>
        </form>
    </tr>
</table>
</body>
</html>