<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Liste over alle reservationer</title>
    <link rel="stylesheet" href="../stylesheet.css" type="text/css">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<table id="reservationsTable" class="w3-table w3-striped w3-bordered w3-centered">
    <thead>
    <tr class="w3-blue">
        <th class="w3-border-right">ID</th>
        <th class="w3-border-right">Fornavn</th>
        <th class="w3-border-right">Efternavn</th>
        <th class="w3-border-right">Mærke</th>
        <th class="w3-border-right">Model</th>
        <th class="w3-border-right">Type</th>
        <th class="w3-border-right">Startdato</th>
        <th class="w3-border-right">Slutdato</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "reservation: ${reservations}">
        <td th:text = "${reservation.id}" />
        <td th:text = "${reservation.first_name}" />
        <td th:text = "${reservation.last_name}" />
        <td th:text = "${reservation.brand_name}" />
        <td th:text = "${reservation.model}" />
        <td th:text = "${reservation.type}" />
        <td th:text = "${reservation.start_date}" />
        <td th:text = "${reservation.end_date}" />
        <td>
            <a th:href="@{'/reservations/view-one/'+${reservation.id}}">
                <button class="w3-btn green-button">Se reservation</button>
            </a>
        </td>
        <td>
            <a th:href="@{'/reservations/edit/'+${reservation.id}}">
                <button class="w3-btn blue-button">Redigér reservation</button>
            </a>
        </td>
        <td>
            <a th:href="@{'/reservations/delete/'+${reservation.id}}">
                <button class="w3-btn red-button">Slet reservation</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>