<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Oplysninger om reservation</title>
    <link rel="stylesheet" href="/../stylesheet.css" type="text/css">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<table id="myTable" class="w3-table w3-striped w3-bordered w3-border" style="width: 33.33%">
    <thead class="thead-light">
    <tr>
        <th>ID:</th>
        <td th:text = "${reservation.id}" />
    </tr>
    <tr>
        <th>Fornavn:</th>
        <td th:text = "${customer.first_name}" />
    </tr>
    <tr>
        <th>Efternavn:</th>
        <td th:text = "${customer.last_name}" />
    </tr>
    <tr>
        <th>Telefonnummer:</th>
        <td th:text = "${customer.phone_number}" />
    </tr>
    <tr>
        <th>Fødselsdato:</th>
        <td th:text = "${customer.birth_date}" />
    </tr>
    <tr>
        <th>Betalingsdetaljer:</th>
        <td th:text = "${reservation.payment_details}" />
    </tr>
    <tr>
        <th>Kørekortnummer:</th>
        <td th:text = "${customer.drivers_license}" />
    </tr>
    <tr>
        <th>Adresse:</th>
        <td th:text = "${address.street_name} + ' ' + ${address.street_number} + ${address.apartment_number}"/>
    </tr>
    <tr>
        <th>Postnummer:</th>
        <td th:text = "${zipCode.zip}" />
    </tr>
    <tr>
        <th>By:</th>
        <td th:text = "${zipCode.city}" />
    </tr>
    <tr>
        <th>Land:</th>
        <td th:text = "${zipCode.country}" />
    </tr>
    <tr>
        <th>Startdato</th>
        <td th:text = "${reservation.start_date}"/>
    </tr>
    <tr>
        <th>Slutdato</th>
        <td th:text = "${reservation.end_date}"/>
    </tr>
    <tr>
        <th>Tilbehør</th>
        <td th:text = "${reservation.accessory_id}"/>
    </tr>
    <tr>
        <th>Mærke</th>
        <td th:text = "${motorhome.brand_name}"/>
    </tr>
    <tr>
        <th>Model</th>
        <td th:text = "${motorhome.model}"/>
    </tr>
    <tr>
        <th>Type</th>
        <td th:text = "${motorhome.type}"/>
    </tr>
    <tr>
        <th>Kilometertal</th>
        <td th:text = "${motorhome.mileage} + ' km'"/>
    </tr>
    <tr>
        <th>Registreringnummer</th>
        <td th:text = "${motorhome.registration_number}"/>
    </tr>
    <tr>
        <th>Distance til afhentningssted</th>
        <td th:text = "${reservation.distance_to_pickup} + ' km'"/>
    </tr>
    <tr>
        <th>Sæson</th>
        <td th:text = "${reservation.season}"/>
    </tr>
    <tr>
        <th>Pris per dag</th>
        <td th:text = "${motorhome.price_per_day} + ' kr.'"/>
    </tr>
    <tr>
        <th>Totalpris</th>
        <td th:text = "${reservation.total_price} + ' kr. '"/>
    </tr>
    </thead>
</table>
</body>
</html>