<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tilføj Kunde</title>
    <link rel="stylesheet" href="../stylesheet.css" type="text/css">
</head>
    <body>
    <div th:replace="fragments/navbar :: navbar"></div>
        <form action="/customers/create" method="post">
            <table>
                <tr>
                    <td><label>Fornavn:</label></td>
                    <td><input type="text" name="first_name"></td>
                </tr>
                <tr>
                    <td><label>Efternavn:</label></td>
                    <td><input type="text" name="last_name"></td>
                </tr>
                <tr>
                    <td><label>Telefonnummer</label></td>
                    <td><input type="text" name="phone_number"></td>
                </tr>
                <tr>
                    <td><label>Gadenavn</label></td>
                    <td><input type="text" name="street_name"></td>
                </tr>
                <tr>
                    <td><label>Gadenummer</label></td>
                    <td><input type="text" name="street_number"></td>
                </tr>
                <tr>
                    <td><label>Lejlighedsnummer</label></td>
                    <td><input type="text" name="apartment_number"></td>
                </tr>
                <tr>
                    <td><label>Postnummer</label></td>
                    <td><input type="text" name="zip_code_id"></td>
                </tr>
                <tr>
                    <td><label>By</label></td>
                    <td><input type="text" name="city"></td>
                </tr>
                <tr>
                    <td><label>Land</label></td>
                    <td><input type="text" name="country"></td>
                </tr>
                <tr>
                    <td><label>Fødselsdato</label></td>
                    <td><input type="date" name="birth_date"></td>
                </tr>
                <tr>
                    <td><label>Kørekortnummer</label></td>
                    <td><input type="text" name="drivers_license"></td>
                </tr>
            </table>
            <input type="submit" button style="padding: 10px" value="Tilføj kunde">
        </form>
    </body>
</html>