<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Type</title>
</head>
<body>
<form action="/types/create" method="post">
    <table>
        <tr>
            <td><label>Type</label></td>
            <td><input type="text" name="type"></td>
        </tr>
            <td><label>Beds</label></td>
            <td><input type="number" name="beds"></td>
        </tr>
    </table>
    <input type="submit" button style="padding: 10px" value="Add type">
</form>
<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>
</body>
</html>