<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/../stylesheet.css" type="text/css">
</head>
<body>
<div class="navbar" th:fragment="navbar">
    <a href="/">Hjem</a>
    <div class="dropdown">
        <button class="dropbtn">
            <a href="/customers/list">Kunder</a>
        </button>
        <div class="dropdown-content">
            <a href="/customers/list">Se alle kunder</a>
            <a href="/customers/create">Opret kunde</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn" href="/motorhomes/list">
            <a href="/motorhomes/list">Autocampere</a>
        </button>
        <div class="dropdown-content">
            <a href="/motorhomes/list">Se alle autocampere</a>
            <a href="/motorhomes/create">Opret autocamper</a>
            <a href="/types/list">Se alle typer</a>
            <a href="/types/create">Opret typer</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn" href="/reservations/list">
            <a href="/reservations/list">Reservationer</a>
        </button>
        <div class="dropdown-content">
            <a href="/reservations/list">Se alle reservationer</a>
            <a href="/reservations/create">Opret reservation</a>
        </div>
    </div>
</div>
</body>
</html>