<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Redigér Type</title>
    <link rel="stylesheet" href="/../stylesheet.css" type="text/css">
</head>
<body>
<form action="/types/update" method="post">
    <table>
        <tr>
            <td>Type</td>
            <td>
                <input name="type" th:value="${type.type}" type="hidden">
            </td>
        </tr>
        <tr>
            <td>Sengepladser</td>
            <td>
                <input type="number" name="beds" th:value="${type.beds}">
            </td>
        </tr>
    </table>
    <input type="submit" value="Gem ændringer">
</form>
</body>
</html>