<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Liste over alle typer</title>
    <link rel="stylesheet" type="text/css" href="../../stylesheet.css">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<table id="typeTable" class="w3-table w3-striped">
    <thead>
    <tr>
        <th>Type</th>
        <th>Sengepladser</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "type: ${types}">
        <td th:text="${type.type}"/>
        <td th:text="${type.beds}"/>
        <td>
            <a th:href="@{'/types/view-one/'+${type.type}}">
                <button>Se type</button>
            </a>
        </td>
        <td>
            <a th:href="@{'/types/edit/'+${type.type}}">
                <button>Redigér type</button>
            </a>
        </td>
        <td>
            <a th:href="@{'/types/delete/'+${type.type}}">
                <button>Slet type</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>

</body>
</html>