<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tilføj ny autocamper</title>
    <link rel="stylesheet" href="/../stylesheet.css" type="text/css">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<form action="/motorhomes/create" method="post">
    <table>
        <tr>
            <td><label>Type</label></td>
            <td><select name="type">
                <option th:each = "type: ${types}" th:text="${type.type}" th:value="${type.type}"></option>
            </select></td>
        </tr>
        <tr>
            <td><label>Mærke</label></td>
            <td><input type="text" name="brand_name"></td>
        </tr>
        <tr>
            <td><label>Model</label></td>
            <td><input type="text" name="model"></td>
        </tr>
        <tr>
            <td><label>Kilometertal</label></td>
            <td><input type="number" name="mileage"></td>
        </tr>
        <tr>
            <td><label>Pris per dag</label></td>
            <td><input type="number" name="price_per_day"></td>
        </tr>
        <tr>
            <td><label>Registreringsnummer</label></td>
            <td><input type="text" name="registration_number"></td>
        </tr>
    </table>
    <input type="submit" style="padding: 10px" value="Tilføj autocamper">
</form>
</body>
</html>