<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Redigér autocamper</title>
    <link rel="stylesheet" href="/../stylesheet.css" type="text/css">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<h1>Redigér autocamper</h1>
<form action="/motorhomes/update" method="post">
    <table>
        <tr>
            <td>Kilometertal</td>
            <td>
                <input type="text" name="mileage" th:value="${motorhome.mileage}">
            </td>
        </tr>
        <tr>
            <td>Pris per dag</td>
            <td>
                <input type="text" name="price_per_day" th:value="${motorhome.price_per_day}">
            </td>
        </tr>
        <tr>
            <td>
                <input id="id" name="id" th:value="${motorhome.id}" type="hidden"/>
            </td>
        </tr>
        <tr>
            <td><label>Type</label></td>
            <td><select name="type">
                <option th:each = "type: ${types}" th:text="${type.type}" th:value="${type.type}"></option>
            </select></td>
        </tr>
    </table>
    <input type="submit" value="Gem ændringer">
</form>
</body>
</html>