<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List over alle autocampere</title>
    <link rel="stylesheet" href="/../stylesheet.css" type="text/css">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<table id="motorhomeTable" class="w3-table w3-striped w3-bordered w3-centered">
    <thead>
    <tr class="w3-blue">
        <th class="w3-border-right">ID</th>
        <th class="w3-border-right">Type</th>
        <th class="w3-border-right">Mærke</th>
        <th class="w3-border-right">Model</th>
        <th class="w3-border-right">Kilometertal</th>
        <th class="w3-border-right">Pris per dag (Basispris)</th>
        <th class="w3-border-right">Registreringsnummer</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "motorhome: ${motorhomes}">
        <td th:text="${motorhome.id}"/>
        <td th:text="${motorhome.type}"/>
        <td th:text="${motorhome.brand_name}"/>
        <td th:text="${motorhome.model}"/>
        <td th:text="${motorhome.mileage}"/>
        <td th:text="${motorhome.price_per_day}"/>
        <td th:text="${motorhome.registration_number}"/>
        <td>
            <a th:href="@{'/motorhomes/view-one/'+${motorhome.id}}">
                <button class="w3-btn green-button">Se autocamper</button>
            </a>
        </td>
        <td>
            <a th:href="@{'/motorhomes/edit/'+${motorhome.id}}">
                <button class="w3-btn blue-button">Redigér autocamper</button>
            </a>
        </td>
        <td>
            <a th:href="@{'/motorhomes/delete/'+${motorhome.id}}">
                <button class="w3-btn red-button">Slet autocamper</button>
            </a>
        </td>
    </tr>
    </tbody>

</table>

</body>
</html>