<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>List over alle autocampere</title>
        <link rel="stylesheet" href="/../stylesheet.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <div th:replace="fragments/navbar :: navbar"></div>
        <div class="header">
            <h1>Autocamperliste</h1>
        </div>
        <div class="search-bar">
            <h2>Søg</h2>
            <p>Skriv noget i søgefeltet for, at søge efter autocampere baseret på id, type, mærke, model, kilometertal, pris per dag, eller registreringsnummer:</p>
            <input id="myInput" type="text" placeholder="Søg..">
            <br>
        </div>
        <a href="/motorhomes/create" class="w3-btn green-button" style="display: inline-block; position: absolute; margin-top: 143px">Opret autocamper</a>
        <a href="/accessories/create" class="w3-btn green-button" style="display: inline-block; position: absolute; margin-top: 143px; margin-left: 180px">Opret tilbehør</a>
        <a href="/types/create" class="w3-btn green-button" style="display: inline-block; position: absolute; margin-top: 143px; margin-left: 327px">Opret type</a>
        <table id="main-table" class="w3-table w3-border w3-bordered w3-centered table-header-sticky">
            <thead>
            <tr class="w3-blue-gray table-header-sticky">
                <th class="w3-border-right">ID</th>
                <th class="w3-border-right">Type</th>
                <th class="w3-border-right">Mærke</th>
                <th class="w3-border-right">Model</th>
                <th class="w3-border-right">Kilometertal</th>
                <th class="w3-border-right">Pris per dag (Basispris)</th>
                <th class="w3-border-right">Registreringsnummer</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>

            <tbody>
                <tr th:each = "motorhome: ${motorhomes}">
                    <td th:text="${motorhome.id}"/>
                    <td th:text="${motorhome.type}"/>
                    <td th:text="${motorhome.brand_name}"/>
                    <td th:text="${motorhome.model}"/>
                    <td th:text="${motorhome.mileage}"/>
                    <td th:text="${motorhome.price_per_day}"/>
                    <td th:text="${motorhome.registration_number}"/>
                    <td>
                        <a th:href="@{'/motorhomes/view-one/'+${motorhome.id}}">
                            <button class="w3-btn green-button">Se autocamper</button>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/motorhomes/edit/'+${motorhome.id}}">
                            <button class="w3-btn blue-button">Redigér autocamper</button>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/motorhomes/delete/'+${motorhome.id}}">
                            <button class="w3-btn red-button">Slet autocamper</button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <script>
            $("#myInput").on("keyup", function() {
                const value = $(this).val().toLowerCase();
                console.log("value:", value)
                $("#main-table tbody tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        </script>
    </body>
</html>